/asm
/crash-reports
/dumps
/journeymap/data
/journeymap/icon
/journeymap/journeymap.log
/liteconfig
/logs
/mods/1.7.10
/mods/matmos
/mods/presencefootsteps
/mods/tabula
/PML
/PMLCore
/resourcepacks
/saves
/XRayProfiles
1213309934
betterfps.txt
GregTech.lang
minetweaker.log
options.txt
optionsof.txt
optionsshaders.txt
PixelPerfect_Alpha2.0.zip
servers.dat
settings.rtg
smart_moving_options.txt
TimeUsage.txt
usernamecache.json