# Configuration file

####################
# goat
####################

goat {
    S:biomegroups <GOAT_DEFAULT>
    B:canSpawn=true
    I:frequency=4
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=4
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=4
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# lizard
####################

lizard {
    S:biomegroups <LIZARD_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=2
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=1
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=MONSTER
}


